*{
    background-color: aqua;
}
body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin: 0;
}
img{
    height: 200px;
    width: 200px;
}
.color-title{
    font-weight: normal;
}
#red{
    color: red;
}
#blue{
    color: blue;
}
#orange{
    color: orange;
}
#green{
    color: green;
}
#yellow{
    color: yellow;
}